[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-seeder = "*"
passlib = "*"
flask-wtf = "*"
wtforms = {extras = ["email"], version = "*"}
werkzeug = "*"
flask-mail = "*"
pycryptodome = "*"
mysqlclient = "*"
gunicorn = "*"
flask-imgur = "*"

[dev-packages]

[requires]
python_version = "3.9"
