{% extends 'base.html' %}

{% block content %}
<form class="row g-3" method="POST" action="/products/new">
    {{ form.csrf_token }}
    <div class="col-md-6">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", type="text", maxlength=60, autocomplete="on", required="required",
        autofocus="autofocus") }}
    </div>
    <div class="col-md-3">
        {{ form.price.label(class="form-label") }}
        {{ form.price(class="form-control", type="number", min=0, max=2147483647, step=1, autocomplete="on",
        required="required") }}
    </div>
    <div class="col-md-3">
        {{ form.inventory.label(class="form-label") }}
        {{ form.inventory(class="form-control", type="number", min=0, max=2147483647, step=1, autocomplete="on",
        required="required")}}
    </div>
    <div class="col-md-12">
        {{ form.image.label(class="form-label") }}
        {{ form.image(class="form-control", type="url", maxlength=100) }}
    </div>
    <div class="col-md-12">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control",rows="5", maxlength=2000) }}
    </div>
    <div class="col-md-4">
        {{ form.category.label(class="form-label") }}
        {{ form.category(class="form-control") }}
    </div>
    <div class="col-md-12">
        <button class="btn btn-secondary" type="submit">上架商品</button>
    </div>
</form>
{% endblock %}