{% extends 'base.html' %}

{% block content %}
<form class="row g-3 needs-validation" method="POST"
      action="{% if is_new_product %}
                {{ url_for('products.new_product') }}
              {% else %}
                {{ url_for('products.edit_product', product_id=product_id) }}
              {% endif %}"
      novalidate>
    {{ form.csrf_token }}
    <div class="col-md-6">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", type="text", maxlength=60, autocomplete="on", required="required",
        autofocus="autofocus") }}
        <div class="invalid-feedback">
            請輸入商品名稱。名稱不可超過 20 個中文字。
        </div>
    </div>

    <div class="col-md-3">
        {{ form.price.label(class="form-label") }}
        {{ form.price(class="form-control", type="number", min=0, max=2147483647, step=1, autocomplete="on",
        required="required") }}
        <div class="invalid-feedback">
            請輸入價格。價格須為 0 至 2147483647 之間的整數。
        </div>
    </div>

    <div class="col-md-3">
        {{ form.inventory.label(class="form-label") }}
        {{ form.inventory(class="form-control", type="number", min=0, max=2147483647, step=1, autocomplete="on",
        required="required")}}
        <div class="invalid-feedback">
            請輸入數量。數量須為 0 至 2147483647 之間的整數。
        </div>
    </div>

    <div class="col-md-12">
        {{ form.image.label(class="form-label") }}
        {{ form.image(class="form-control", type="url", maxlength=100) }}
        <div class="invalid-feedback">
            請輸入格式正確的網址。網址不可超過 100 個英文字。
        </div>
    </div>
    <div class="col-md-12">
        {{ form.description.label(class="form-label") }}
        {{ form.description(class="form-control",rows="5", maxlength=2000) }}
        <div class="invalid-feedback">
            描述不可超過 666 個中文字。
        </div>
    </div>
    <div class="col-md-4">
        {{ form.category.label(class="form-label") }}
        <select class="form-control" id="category" name="category">
            {% for (category_id, category_name) in form.category.choices %}
                {% if form.category.data == category_id %}
                <option value="{{ category_id }}" selected>{{ category_name }}</option>
                {% else %}
                <option value="{{ category_id }}">{{ category_name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col-md-12">
        <button class="btn btn-secondary" type="submit">
            {% if is_new_product %}
            上架商品
            {% else %}
            更新商品
            {% endif %}
        </button>
    </div>
</form>

<script src="{{ url_for('static', filename='javascript/bootstrap_form_validator.js') }}"></script>
{% endblock %}