{% extends 'base.html' %}
{% from 'macros/price_and_cart_btn.html' import price_and_cart_btn %}
{% from 'macros/pagination.html' import pagination %}

{% block content %}

{{ pagination(paginate, endpoint, seller_id) }}

<div class="row">
    {% if products %}
    {% for product in products %}
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card border-0">
            <a href="{{ url_for('products.get_product', product_id=product.id) }}">
                <img src="{{ product.image_url }}" class="card-img-top" alt="image of {{ product.name }}">
                <h5 class="card-title products-card-title text-center overflow-auto mt-2">{{ product.name }}</h5>
            </a>
            <div class="card-body pt-0">
                <div class="d-flex justify-content-between">
                    {{ price_and_cart_btn(product, user_id) }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-warning" role="alert">
        目前沒有商品
    </div>
    {% endif %}
</div>

{{ pagination(paginate, endpoint, seller_id) }}

{% endblock %}