{% macro orders_table(orders, is_buyer) %}
{% if orders %}
<table class="table table-striped table-hover align-middle">
    <thead>
    <tr>
        <th scope="col">編號</th>
        <th scope="col">明細</th>
        <th scope="col" class="text-end">總額</th>
        <th scope="col" class="text-center">狀態</th>
        <th scope="col" class="text-center">付款</th>
        <th scope="col" class="text-center">運送</th>
        <th scope="col">更新日期</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for item in orders %}
    <tr>
        <th scope="row">{{ item.order_id }}</th>
        <td><a href="{{ url_for('orders.get_order', order_id=item.order_id)}}">明細</a></td>
        <td class="text-end">{{ item.amount }}</td>
        <td class="text-center">
            {% if is_buyer and item.order_status == '未結帳' %}
            <a href="{{ url_for('orders.checkout', order_id=item.order_id)}}">
                <button class="btn btn-secondary">立即結帳</button>
            </a>
            {% else %}
            {{ item.order_status }}
            {% endif %}
        </td>
        <td class="text-center">
            {% if is_buyer and item.payment_status == '未付款' and item.order_status == '已結帳' %}
            <a href="{{ url_for('orders.pay_order', order_id=item.order_id)}}">
                <button class="btn btn-secondary">立即付款</button>
            </a>
            {% else %}
            {{ item.payment_status }}
            {% endif %}
        </td>
        <td class="text-center">{{ item.shipping_status }}</td>
        <td>{{ item.update_time }}</td>
        <td>
            <form action="{{ url_for('orders.cancel_order', order_id=item.order_id) }}" method="POST">
                <button class="btn btn-danger"
                        type="submit"
                        onclick="return confirm('確定取消編號 {{ item.order_id }} 之訂單？')"
                >
                    取消
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h3>查無訂單</h3>
{% endif %}
{% endmacro %}