<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>牙牙商城</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
</head>
<body class="bg-light">
<nav class="navbar navbar-dark bg-secondary bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">牙牙商城</a>
    </div>
</nav>
<div class="container mt-3">
    {% block content %}
    {% endblock %}
</div>
<script src="{{ url_for('static', filename='javascript/bootstrap.bundle.min.js') }}"></script>
<script src="https://use.fontawesome.com/e4b95b602e.js"></script>
</body>
</html>