<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>牙牙商城</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary bg-gradient">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">牙牙商城</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-sm-flex justify-content-sm-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if session['user'] %}
                <li class="nav-item">
                    <a class="nav-link btn btn-btn-link mt-2" aria-current="page"
                       href="{{ url_for('users.logout') }}">登出</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-link mt-2" aria-current="page"
                       href="{{ url_for('users.login') }}">登入</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-btn-link mt-2" aria-current="page"
                       href="{{ url_for('users.new_user') }}">註冊</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center mt-2" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</div>
<script src="{{ url_for('static', filename='javascript/bootstrap.bundle.min.js') }}"></script>
<script src="https://use.fontawesome.com/e4b95b602e.js"></script>
</body>
</html>