{% extends 'base.html' %}
{% from 'macros.html' import price_and_cart_btn %}

{% block content %}
<div class="row">

    {% for product in products %}
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card border-0">
            <a href="{{ url_for('products.get_product', product_id=product.id) }}">
                <img src="{{ product.image_url }}" class="card-img-top" alt="image of {{ product.name }}">
                <h5 class="card-title products-card-title text-center overflow-auto mt-2">{{ product.name }}</h5>
            </a>
            <div class="card-body pt-0">
                <div class="d-flex justify-content-between">
                    {{ price_and_cart_btn(product, user_id) }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}