{% extends 'base.html' %}
{% from 'macros/order_item_card.html' import order_item_card %}

{% block content %}
{{ order_item_card(order.order_items, order.amount) }}

<h2>訂單資訊</h2>
<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <th scope="row">編號</th>
        <td>{{ order.id }}</td>
    </tr>
    <tr>
        <th scope="row">收件者</th>
        <td>{{ order.recipient }}</td>
    </tr>
    <tr>
        <th scope="row">收件者手機</th>
        <td>{{ order.cell_phone }}</td>
    </tr>
    <tr>
        <th scope="row">收件地址</th>
        <td colspan="2">{{ order.address }}</td>
    </tr>
    <tr>
        <th scope="row">訂單狀態</th>
        <td colspan="2">
            {% if order.buyer_id == user_id and order.order_status == '未結帳' %}
            <a href="{{ url_for('orders.checkout', order_id=order.id)}}">
                <button class="btn btn-secondary">立即結帳</button>
            </a>
            {% else %}
            {{ order.order_status }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">付款狀態</th>
        <td colspan="2">
            {% if order.buyer_id == user_id and order.payment_status == '未付款' and order.order_status == '已結帳' %}
            <a href="{{ url_for('orders.pay_order', order_id=order.id)}}">
                <button class="btn btn-secondary">立即付款</button>
            </a>
            {% else %}
            {{ order.payment_status }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">運送狀態</th>
        <td colspan="2">{{ order.shipping_status }}</td>
    </tr>
    <tr>
        <th scope="row">建立日期</th>
        <td colspan="2">{{ order.insert_time }}</td>
    </tr>
    <tr>
        <th scope="row">更新日期</th>
        <td colspan="2">{{ order.update_time }}</td>
    </tr>
    </tbody>
</table>
{% endblock %}